.loaderContainer {
  color: #C22160;
  font-family: sans-serif;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.text {
  width: 100%;
  text-align: center;
  margin: auto;
  font-size: 16px;
  color: #fff;
}

.heart {
  margin: 40px 0 0 60px;
  margin: auto;
  margin-top: 100px;
  border-radius: 10px;
  height: 85px;
  width: 85px;
  margin-bottom: 10px;
  float: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -240%);
}

.heart:before {
  content: "";
  position: absolute;
  background: #EA4C89;
  height: 50px;
  width: 50px;
  z-index: 0;
  margin-top: 15px;
  margin-left: 15px;
  transform: rotate(45deg);
}

.heart .circle1 {
  content: "";
  position: absolute;
  background: #EA4C89;
  height: 50px;
  width: 50px;
  z-index: 1;
  border-radius: 50%;
  animation-duration: 2s;
  animation-name: change1;
  animation-iteration-count: infinite;
  /*animation-direction: alternate;*/
}

.heart .circle2 {
  content: "";
  position: absolute;
  background: #EA4C89;
  height: 50px;
  width: 50px;
  z-index: 1;
  margin-left: 30px;
  border-radius: 50%;
  animation-duration: 2s;
  animation-name: change2;
  animation-iteration-count: infinite;
  // animation-direction: alternate;
}


@keyframes change1 {

  0%,
  25% {
    margin-top: 0px;
    margin-left: 0px;
  }

  50%,
  75% {
    margin-top: 30px;
    margin-left: 30px;
  }
}

@keyframes change2 {

  25%,
  50% {
    margin-top: 30px;
    margin-left: 0px;
  }

  75%,
  100% {
    margin-top: 0px;
    margin-left: 30px;
  }
}
