.content {
  display: flex;
  height: 100%;
  position: relative;
}

.mainContent {
  display: flex;
  justify-content: center;
  height: 100%;
  flex: 0 1 80%;
  overflow: hidden;
}

.showBtn {
  display: none;
  color: #fd267a;
  width: 42rem;
  height: 42rem;
  position: absolute;
  top: -60rem;
  left: 12rem;
  cursor: pointer;
}

.showBtnWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

@media (max-width:1500px) {
  .mainContent {
    flex: 1 1 75%;
  }
}

@media (max-width:900px) {
  .showBtn {
    display: block;
  }
}
