.content {
  display: flex;
  height: 100%;
}

.mainContent {
  display: flex;
  justify-content: center;
  height: 100%;
  flex: 0 1 80%;
}


@media (width <=1500px) {
  .mainContent {
    flex: 0 1 75%;
  }
}
