.container {
  margin: 0 auto;
  height: 100%;
}

.sectionOne {
  margin-top: 50rem;
  display: flex;
  align-items: center;
  gap: 50rem;
  padding-right: 20rem;
}

.sectionOneIcon {
  flex: 0 1 60%;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 5rem;
}

.sectionOneTitle {
  font-size: 50rem;
  font-weight: 700;
}

.sectionTwo {
  padding: 0 10rem;
  margin: 50rem auto 0;
  display: flex;
  align-items: center;
  gap: 10rem;
  justify-content: space-between;
  max-width: 2000rem;
}

.textPart {
  flex: 0 1 50%;
}

.iconPart {
  flex: 0 1 50%;
}

.headingTitle {
  color: rgb(253, 58, 115);
  font-weight: 700;
  margin-bottom: 10rem;
  font-size: 22rem;
}

.sectionTwoTitle {
  font-size: 35rem;
  font-weight: 700;
  margin-bottom: 20rem;
}

.subtitle {
  color: #676770;
  text-align: justify;
}

.sectionThree {
  padding: 0 10rem;
  margin: 50rem auto;
  position: relative;
  height: 400rem;
  background: url('../../assets/about/map.png') no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30rem;
  max-width: 1000rem;
}

.sectionThreeTitle {
  text-align: center;
  font-size: 40rem;
  padding-top: 40rem;
  transform: translate(0, -100%);
}

.counters {
  margin-top: 20rem;
  display: flex;
  justify-content: center;
  gap: 50rem;
  transform: translate(0, -180%);
}

.amount {
  color: rgb(253, 58, 115);
  font-weight: 700;
  font-size: 30rem;
  text-align: center;
}

.amountTitle {
  font-size: 25rem;
  font-weight: 600;
}

@media (max-width:1100px) {
  .sectionOneTitle {
    font-size: 40rem;
  }

  .sectionThree {
    max-width: 738rem;
  }

  .headingTitle {
    font-size: 20rem;
  }
}

@media (max-width:768px) {
  .sectionOne {
    margin-top: 30rem;
    display: block;
    padding-right: 0;
  }

  .sectionOneTitle {
    margin-top: 30rem;
    padding: 0 10rem;
  }

  .sectionTwo {
    display: block;
  }

  .textPart {
    max-width: 600rem;
  }

  .iconPart {
    margin: 50rem auto;
    max-width: 600rem;
  }
}

@media (max-width:500px) {
  .sectionOne {
    margin-top: 10rem;
  }

  .sectionOneTitle {
    font-size: 30rem;
  }

  .headingTitle {
    font-size: 20rem;
  }

  .sectionTwoTitle {
    font-size: 25rem;
  }

  .sectionThree {
    background-size: cover;
  }

  .sectionThreeTitle {
    font-size: 25rem;
  }

  .counters {
    gap: 30rem;
    transform: translate(0, -200%);
  }

  .amount {
    font-size: 22rem;
  }

  .amountTitle {
    font-size: 18rem;
  }
}
