.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 1s;
  pointer-events: none;
  color: #333;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.content {
  text-align: center;
  transform: scale(0);
  border-radius: 20rem;
  background-color: #fff;
  width: 35vw;
  transition: 0.8s all;
}

.content.active {
  transform: scale(1);
}
