.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 1s;
  pointer-events: none;
  color: #333;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.content.active {
  border-radius: 20rem;
  padding: 10rem;
  background-color: #fff;
  text-align: center;
  transform: scale(1);
  width: 30vh;
}

.content {
  padding: 20rem;
  border: 12rem;
  border-color: #fff;
  text-align: center;
  transform: scale(0.1);
  transition: 0.8s all;
}

.login {
  display: flex;
  flex-direction: column;
  gap: 30rem;
}
