.container {
  max-width: 986rem;
  margin: 0 auto;
  font-size: 16rem;
  padding: 30rem 10rem 60rem;
  height: 100%;
  color: #000;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 50rem;
}

.title {
  text-align: center;
  font-size: 30rem;
  margin-bottom: 50rem;
}

.formContent {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  gap: 50rem;
}

.leftSide {
  display: flex;
  flex-direction: column;
  gap: 30rem;
  margin-bottom: 40rem;
  flex: 0 1 50%;
}

.mainLabel {
  font-size: 30rem;
  font-weight: 600;
}

.input {
  margin-top: 20rem;
  font-size: 24rem;
  width: 100%;
  border-radius: 10rem;
  padding: 10rem;
  font-weight: 500;
  height: 52rem;
  border: 2px solid #ccc;
  background-color: rgba(248, 248, 248, 0.3);

  &:focus {
    border-color: #FA457E;
    outline: none;
  }
}

.radioContainer {
  display: flex;
  justify-content: space-between;
  gap: 10rem;
  width: 100%;
}

.innerLabel {
  margin-top: 20rem;
  font-size: 30rem;
  padding: 10rem 20rem;
  border: solid 2rem rgb(144, 144, 144);
  border-radius: 10rem;
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
}

.leftSide input[type=radio] {
  display: none;
}

.leftSide input[type=radio]:checked+.innerLabel {
  border: 2rem solid #FA457E
}

.textarea {
  margin-top: 20rem;
  width: 100%;
  height: 150rem;
  padding: 15rem;
  border: 2rem solid #ccc;
  border-radius: 20rem;
  background-color: rgba(248, 248, 248, 0.3);
  resize: none;
  font-size: 24rem;

  &:focus {
    border-color: #FA457E;
    outline: none;
  }
}

.rigthSide {
  display: flex;
  flex-direction: column;
  gap: 30rem;
  flex: 0 1 50%;
}

.iconContainer {
  border-radius: 10rem;
}

.empty {
  height: 20rem;
}

.error {
  color: red;
  font-size: 16rem;
  margin-top: 3rem;
}

/*file input*/

.inputFile {
  cursor: pointer;
  margin-top: 20rem;
  display: flex;
}

.inputFileText {
  overflow: hidden;
  text-align: left;
  display: block;
  float: left;
  box-sizing: border-box;
  width: 100%;
  border-radius: 6rem 0rem 0 6rem;
  border: 3px solid #ccc;
  font-size: 12rem;
  padding: 10rem;
  height: 50rem;
}

.inputFileBtn {
  align-items: center;
  background-color: rgb(253 84 108);
  border-radius: 0 4rem;
  border: none;
  color: rgb(255 255 255);
  cursor: pointer;
  display: flex;
  font-size: 16rem;
  justify-content: center;
  margin: 0;
  outline: none;
  padding: 0 30rem;
  position: relative;
  text-align: center;
  transition: background-color 0.2s;
}

.inputFile input[type=file] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

.inputFile:hover .inputFileBtn {
  background-color: rgb(243 68 185);
}

.inputFile:active .inputFileBtn {
  background-color: rgb(243 68 185);
}

@media (max-width:992px) {
  .container {
    max-width: 786rem;
  }

  .radioContainer {
    gap: 5rem;
  }

  .innerLabel {
    font-size: 20rem;
    padding: 10rem 20rem;
  }
}

@media (max-width:768px) {
  .container {
    max-width: 686rem;
  }
  
  .innerLabel {
    font-size: 16rem;
    padding: 10rem 16rem;
  }

  .mainLabel {
    font-size: 25rem;
  }

  .input {
    margin-top: 10rem;
    font-size: 16rem;
  }

  .textarea {
    height: 120rem;
    padding: 15rem;
    font-size: 16rem;
    margin-top: 10rem;
  }

  .error {
    font-size: 12rem;
  }

  .inputFile {
    margin-top: 10rem;
  }

  .inputFileBtn {
    padding: 0 15rem;
    font-size: 14rem;
  }
}

@media (max-width:576px) {
  .formContent {
    gap: 10rem;
    flex-direction: column;
  }

  .leftSide,
  .rigthSide {
    gap: 10rem;
    margin-bottom: 10rem;
  }

  .radioContainer {
    flex-direction: column;
  }

  .innerLabel {
    font-size: 16rem;
    padding: 10rem 16rem;
    text-align: center;
  }

  .mainLabel {
    font-size: 20rem;
  }

  .input {
    margin-top: 10rem;
  }
}
