html {
  font-size: 1px;
  height: 100%;
}

body {
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  color: #222;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 16rem;
}


.app {
  height: 100%;
}
