html {
  font-size: 1px;
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  color: #222;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 16rem;
  background-color: rgba(240, 242, 244, 0.5);

      //Hide scroll
      scrollbar-width: none; /* Hide scrollbar in Firefox */
      -ms-overflow-style: none; /* Hide scrollbar in IE/Edge */
      &::-webkit-scrollbar {
        display: none; /* Hide scrollbar in WebKit browsers */
      }
}

.app {
  height: 100%;
}


