*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1;
}

body,
html {
  height: 100%;
}

ul[class],
ol[class] {
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  max-width: 100%;
  display: block;
}

article>*+* {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

#root {
  height: 100%;
}

nav {
  a.active {
    color: rgba(253, 58, 115, 1);
    font-weight: 600;
  }
}

.success-popup {
  padding: 50rem;
  display: flex;
  flex-direction: column;
  gap: 15rem;
  position: relative;

  .success-title {
    font-size: 25rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .success-sub-title {
    font-size: 22rem;
    font-weight: 700;
  }

  .success-text {
    font-size: 18rem;
    font-weight: 500;
  }

  .check-mark {
    width: 7%;
  }
}

@media (max-width:768px) {
  .success-popup {
    padding: 20rem;
    display: flex;
    flex-direction: column;
    gap: 10rem;
    position: relative;

    .success-title {
      font-size: 18rem;
      font-weight: 600;
    }

    .success-sub-title {
      font-size: 16rem;
    }

    .success-text {
      font-size: 14rem;
      font-weight: 500;
    }

    .check-mark {
      width: 10%;
    }
  }
}


@media (max-width:576px) {
  .success-popup {

    .check-mark {
      width: 15%;
    }
  }
}
