.content {
  display: flex;
  flex: 0 1 20%;
  flex-direction: column;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
  overflow: scroll;
}

.header {
  display: flex;
  width: 100%;
  gap: 15rem;
  align-items: center;
  background: linear-gradient(45deg, #fd267a, #ff6036);
  height: 80rem;
  padding: 10rem;
  border-radius: 10rem;
}

.photoContainer {
  width: 45rem;
  height: 45rem;

  .photo {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
}

.name {
  color: #fff;
  font-size: 20rem;
}

.controlPanel {
  display: flex;
  gap: 20rem;
  padding: 20rem;
}

.controlBtn {
  border: none;
  outline: none;
  background-color: transparent;
  font-weight: 700;
  font-size: 20rem;
  cursor: pointer;

  &:hover {
    color: rgba(253, 58, 115, 1);
  }
}

.main {
  padding: 0 15rem;
}

@media (width <=1500px) {
  .content {
    flex: 0 1 30%;
  }
}

@media (width <=986px) {
  .controlPanel {
    gap: 15rem;
    padding: 15rem;
  }

  .header {
    height: 65rem;
  }
}

@media (width <=768px) {
  .controlPanel {
    gap: 10rem;
    padding: 15rem;
  }

  .controlBtn {
    font-size: 16rem;
  }

  .header {
    height: 55rem;
  }
}

@media (width <=650px) {
  .content {
    transform: translate(-100%, 0);
    transition: all 1s;
    position: fixed;
    height: 100%;
    z-index: 1;
  }

  .content.active {
    transform: translate(0, 0);
    transition: all 1s;
  }

  .main {
    padding: 0 5rem;
  }
}
