.content {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  gap: 15rem;
  align-items: center;
  background: linear-gradient(45deg, #fd267a, #ff6036);
  height: 80rem;
  padding: 10rem;
  border-radius: 10rem;
}

.photoContainer {
  width: 40rem;
  height: 40rem;

  .photo {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
}

.name {
  color: #fff;
  font-size: 18rem;
}


.controlPanel {
  display: flex;
  gap: 20rem;
  padding: 20rem;
}

.controlBtn {
  border: none;
  outline: none;
  background-color: transparent;
  font-weight: 600;
  cursor: pointer;

  &:hover {
    color: rgba(253, 58, 115, 1);
  }
}



.main {
  flex: 0 1 30%;
}
