.unMatchBtn {
  border: none;
  font-size: 20rem;
  font-weight: 600;
  flex: 0 1 100%;
  cursor: pointer;
  opacity: 0.8;

  &:hover {
    background: linear-gradient(45deg, #fd267a, #ff6036);
    transition: 0.5s;
    opacity: 1;
  }
}

@media (width<=768px) {
  .unMatchBtn {
    height: 100%;
    font-size: 14rem;
  }
}
