.logoImage {
  transform: translate(0, 10%);
  width: 50rem;
  height: 50rem;
}

.logoText {
  font-size: 44rem;
  display: flex;
  align-items: center;
  gap: 5rem;
  text-align: center;
  font-style: italic;
  font-family: Luminari;
}
