.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 986rem;
  margin: 0 auto;
  font-size: 16rem;
  padding: 0rem 10rem;
  height: 100%;
}


.main {
  flex: 1 1 auto;
}
