.wrapper {
  background-image: url('../../assets/Home/489574db9ccfa50bf87e440f8a3be065d958a97f-2304x1536.webp');
  background-size: cover;
  height: 100%;
  color: rgb(255 254 253);
}

.container {
  max-width: 986px;
  margin: 0 auto;
  font-size: 16rem;
  padding: 20rem 10rem 60rem;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20rem;
  padding: 50rem;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  justify-content: center;
  flex: 1 1 auto;
}

.image {
  transform: translate(0, 20%);
  width: 60rem;
  height: 60rem;
}

.title {
  font-size: 94rem;
  display: flex;
  align-items: center;
  gap: 5rem;
  text-align: center;
}

.topTitle {
  font-size: 75rem;
  text-align: center;
  flex: 0 0 auto;
  font-size: 70rem;
}

.subtitle {
  font-size: 34rem;
}

.modalTitle {
  font-size: 40rem;
}

.modalfrom {
  display: flex;
  flex-direction: column;
  gap: 20rem;
  align-items: center;
}

.modalinput {
  outline: 0;
  border-width: 0 0 2px;
  width: 100%;

  &:focus {
    border-color: blueviolet;
  }
}

.login {
  display: flex;
  flex-direction: column;
  gap: 30rem;
  padding: 20rem;
  font-size: 18rem;
}

.error {
  color: red;
  font-size: 16rem;
}

.name {
  font-weight: 700;
}

@media (width <=992px) {
  .container {
    max-width: 786px;
    font-size: 16rem;
  }

  .image {
    width: 30rem;
    height: 30rem;
  }

  .title {
    font-size: 64rem;
  }

  .topTitle {
    font-size: 55rem;
  }

  .subtitle {
    font-size: 34rem;
  }
}

@media (width <=768px) {
  .wrapper {
    background-image: url('../../assets/Home/fon_768.jpg');
  }

  .container {
    max-width: 586px;
    padding: 10rem 5rem 20rem;
  }

  .image {
    width: 30rem;
    height: 30rem;
  }

  .topTitle {
    font-size: 35rem;
  }

  .subtitle {
    font-size: 20rem;
  }

  .title {
    font-size: 64rem;
    display: flex;
    align-items: center;
    gap: 5rem;
    text-align: center;
    color: rgb(255 254 253);
  }

  .login {
    display: flex;
    flex-direction: column;
    gap: 20rem;
    padding: 10rem;
    font-size: 16rem;

    .modalTitle {
      font-size: 20rem;
    }

    .modalfrom {
      gap: 15rem;
    }

    .error {
      color: red;
      font-size: 14rem;
    }
  }
}

@media (width <=576px) {

  .image {
    width: 20rem;
    height: 20rem;
  }

  .title {
    font-size: 35rem;
  }

  .topTitle {
    font-size: 20rem;
  }

  .subtitle {
    font-size: 15rem;
  }

  .login {
    display: flex;
    flex-direction: column;
    gap: 10rem;
    padding: 10rem;
    font-size: 12rem;

    .modalTitle {
      font-size: 18rem;
    }

    .modalfrom {
      gap: 10rem;
    }
  }
}
