.wrapper {
  background-image: url('../../assets/Home/489574db9ccfa50bf87e440f8a3be065d958a97f-2304x1536.webp');
  background-size: cover;
  height: 100%;
}

.container {
  max-width: 986px;
  margin: 0 auto;
  font-size: 16rem;
  padding: 20rem 10rem 60rem;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20rem;
  padding: 50rem;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  justify-content: center;
  flex: 1 1 auto;
}

.image {
  transform: translate(0, 20%);
  width: 60rem;
  height: 60rem;
}

.title {
  font-size: 94rem;
  display: flex;
  align-items: center;
  gap: 5rem;
  text-align: center;
}

.topTitle {
  font-size: 75rem;
  text-align: center;
  flex: 0 0 auto;
  font-size: 70rem;
}

.subtitle {
  font-size: 34rem;
}

.modalTitle {
  font-size: 40rem;
}

.modalfrom {
  display: flex;
  flex-direction: column;
  gap: 20rem;
  align-items: center;
}

.modalinput {
  outline: 0;
  border-width: 0 0 2px;
  width: 100%;

  &:focus {
    border-color: blueviolet;
  }
}

.login {
  display: flex;
  flex-direction: column;
  gap: 30rem;
  padding: 20rem;
  font-size: 18rem;
}

@media (width < 768px) {
  .login {
    display: flex;
    flex-direction: column;
    gap: 20rem;
    padding: 10rem;
    font-size: 14rem;

    .modalTitle {
      font-size: 20rem;
    }

    .modalfrom {
      gap: 15rem;
    }
  }
}

@media (width < 468px) {
  .login {
    display: flex;
    flex-direction: column;
    gap: 10rem;
    padding: 10rem;
    font-size: 12rem;

    .modalTitle {
      font-size: 18rem;
    }

    .modalfrom {
      gap: 10rem;
    }
  }
}
