.wrapper {
  background-image: url('../../assets/Home/489574db9ccfa50bf87e440f8a3be065d958a97f-2304x1536.webp');
  background-size: cover;
  height: 100%;
}

.container {
  max-width: 986px;
  margin: 0 auto;
  font-size: 16rem;
  padding: 20rem 10rem 60rem;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}


.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20rem;
  padding: 50rem;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  justify-content: center;
  flex: 1 1 auto;
}

.image {
  transform: translate(0, 20%);
  width: 60rem;
  height: 60rem;
}

.title {
  font-size: 94rem;
  display: flex;
  align-items: center;
  gap: 5rem;
  text-align: center;
}

.topTitle {
  font-size: 75rem;
  text-align: center;
  flex: 0 0 auto;
  font-size: 70rem;
}

.subtitle {
  font-size: 34rem;
}

// .button {
//   color: #FFFFFF;
//   font-size: 24rem;
//   padding: 25rem 55rem;
//   border-radius: 50rem;
//   background: linear-gradient(87.08deg, #FA457E 6.8%, #7B49FF 102.07%);
//   cursor: pointer;
//   opacity: 0.8;

//   &:hover {
//     background: linear-gradient(-87.08deg, #FA457E 6.8%, #7B49FF 102.07%);
//     transition: 0.5s;
//     opacity: 1;
//   }
// }


.modalTitle {
  font-size: 40rem;
}

.modalfrom {
  display: flex;
  flex-direction: column;
  gap: 20rem;
  align-items: center;
}


.modalinput {
  outline: 0;
  border-width: 0 0 2px;


  &:focus {
    border-color: green;
    outline: 1px dotted #000
  }
}


// .modalButton {
//   width: 200rem;
//   margin: 0 auto;
// }
