.Ppllist {
  display: flex;
  gap: 15rem;
  margin-top: 20rem;
  flex-direction: column;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 0px;
  }
}

.PplItem {
  display: flex;
  align-items: center;
  gap: 20rem;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }
}

.photoContainer {
  width: 78rem;
  height: 78rem;
  flex: 0 0 40%;
}

.photo {
  border-radius: 50%;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.text {
  flex: 0 1 60%;
}

.name {
  font-size: 22rem;
  font-weight: 700;
  margin-bottom: 5rem;
}

.message {
  color: #656e7b;
  white-space: nowrap;
}


@media (width <=650px) {
  .Ppllist {
    gap: 10rem;
    margin-top: 10rem;
  }

  .PplItem {
    gap: 10rem;
  }

  .photoContainer {
    width: 58rem;
    height: 58rem;
    flex: 0 0 35%;
  }

  .text {
    flex: 0 1 65%;
  }

  .name {
    font-size: 18rem;
    margin-bottom: 2rem;
  }

  .message {
    font-size: 14rem;
  }
}
