.Ppllist {
  display: flex;
  gap: 15rem;
  margin-top: 30rem;
  flex-direction: column;
}

.info {
  display: flex;
  align-items: center;
  gap: 20rem;
}

.photoContainer {
  width: 78rem;
  height: 78rem;
  flex: 0 0 27%;
}

.photo {
  border-radius: 50%;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.text {
  flex: 0 1 70%;
}

.name {
  font-size: 22rem;
  font-weight: 700;
  margin-bottom: 5rem;
}

.message {
  color: #656e7b;
  white-space: nowrap;
}
