.footer {
  background-color: rgba(99, 99, 99, 0.2);
  margin-top: auto;
}

.container {
  max-width: 100vw;
  margin: 0 auto;
  padding: 20rem 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative
}

@media (max-width:900px) {
  .footer {
    bottom: 0;
    width: 100%;
    z-index: 1;
  }

  .container {
    padding: 10rem 5rem;
    justify-content: center;
    gap: 40rem;
  }

  .text {
    display: none;
  }

  .git {
    width: 25rem;
    position: absolute;
    bottom: 5rem;
    right: 0;
  }

  .logoContainer {
    display: none;
  }
}
