.footer {
  background-color: rgba(99, 99, 99, 0.2);
}

.container {
  max-width: 100vw;
  margin: 0 auto;
  padding: 20rem 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
