.person {
  display: flex;
  flex-direction: column;
  gap: 20rem;
  align-items: center;
  justify-content: center;
}

.cardContainer {
  width: 500rem;
  height: 650rem;
}

.swipe {
  position: absolute;
}

.card {
  background-color: #fff;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.30);
  cursor: pointer;
  height: 650rem;
  position: relative;
  width: 500rem;
}

.cardContent {
  width: 100%;
  height: 100%;
}

.cardInfo {
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 18rem;
  font-weight: 600;
  gap: 5rem;
  left: 10%;
  position: absolute;
  top: 77%;
  width: 80%;
  height: 23%;
  overflow: scroll;

  //Hide scroll
  scrollbar-width: none; /* Hide scrollbar in Firefox */
  -ms-overflow-style: none; /* Hide scrollbar in IE/Edge */
  &::-webkit-scrollbar {
    display: none; /* Hide scrollbar in WebKit browsers */
  }
}

.name {
  font-weight: 700;
  font-size: 30rem;
}

.age {
  font-weight: 400;
  font-size: 24rem;
}

.description {
  font-weight: 400;
  font-size: 20rem;
  word-wrap: break-word;
}

.panelControl {
  display: flex;
  gap: 70rem;
  align-items: center;
  justify-content: center;
}

.button {
  border-radius: 50%;
  padding: 10rem;
  width: 90rem;
  height: 90rem;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }
}

.reject {
  color: red;
  border: 1rem solid red;
}

.star {
  border: 1rem solid orange;
  color: orange;
}

.heart {
  color: lightgreen;
  border: 1rem solid lightgreen;
  height: 90rem;
}

@media (max-width:1201px) {
  .cardContainer {
    width: 400rem;
    height: 550rem;
  }

  .card {
    width: 400rem;
    height: 550rem;
  }

  .panelControl {
    gap: 50rem;
  }
}

@media (max-width:986px) {
  .cardContainer {
    width: 350rem;
  }

  .card {
    width: 350rem;
  }

  .panelControl {
    gap: 50rem;
  }

  .button {
    padding: 10rem;
    width: 70rem;
    height: 70rem;
  }
}

@media (max-width:786px) {
  .cardContainer {
    width: 300rem;
    height: 450rem;
  }

  .card {
    width: 300rem;
    height: 450rem;
    box-shadow: none;
  }

  .panelControl {
    gap: 30rem;
  }

  .button {
    padding: 10rem;
    width: 50rem;
    height: 50rem;
  }
}

@media (max-width:551px) {
  .cardContainer {
    width: 300rem;
    height: 450rem;
  }

  .card {
    width: 300rem;
    height: 450rem;
  }

  .panelControl {
    gap: 30rem;
  }

  .button {
    padding: 10rem;
    width: 50rem;
    height: 50rem;
  }

  .name {
    font-weight: 700;
    font-size: 25rem;
  }

  .age {
    font-weight: 400;
    font-size: 25rem;
  }

  .description {
    font-weight: 400;
    font-size: 24rem;
  }

}

@media (max-width:451px) {
  .cardContainer {
    width: 250rem;
    height: 400rem;
  }

  .card {
    width: 250rem;
    height: 400rem;
  }

  .panelControl {
    gap: 25rem;
  }

  .button {
    padding: 10rem;
    width: 50rem;
    height: 50rem;
  }
}
