.person {
  display: flex;
  flex-direction: column;
  gap: 20rem;
  align-items: center;
  width: 100%;
}

.photoContainer {
  width: 360rem;
  height: 480rem;
  position: relative;
}

.photo {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-radius: 20rem;
  object-fit: cover;
}

.text {
  color: #fff;
  position: absolute;
  top: 75%;
  left: 10%;
  font-weight: 600;
  font-size: 18rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.name {
  font-weight: 700;
  font-size: 30rem;
}

.age {
  font-weight: 400;
  font-size: 24rem;
}
