.person {
  display: flex;
  flex-direction: column;
  gap: 20rem;
  align-items: center;
  justify-content: center;
}

.cardContainer {
  width: 500rem;
  height: 650rem;
}

.swipe {
  position: absolute;
}

.card {
  position: relative;
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.30);
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  width: 500rem;
  height: 650rem;
  cursor: pointer;
}

.cardContent {
  width: 100%;
  height: 100%;
}

.cardInfo {
  color: #fff;
  position: absolute;
  top: 75%;
  left: 10%;
  font-weight: 600;
  font-size: 18rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.name {
  font-weight: 700;
  font-size: 30rem;
}

.age {
  font-weight: 400;
  font-size: 24rem;
}

.panelControl {
  font-size: 30rem;
  display: flex;
  gap: 70rem;
  align-items: center;
  justify-content: center;
}

.button {
  border-radius: 50%;
  padding: 10rem;
  width: 90rem;
  height: 90rem;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }
}

.reject {
  color: red;
  border: 1rem solid red;
}

.star {
  border: 1rem solid orange;
  color: orange;
}

.heart {
  color: lightgreen;
  border: 1rem solid lightgreen;
  height: 90rem;
}
