.personInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  flex: 0 0 25%;
  background-color: #fff;
  height: 100%;
}

.personInfo {
  flex: 1 1 auto
}

.photoContainer {
  overflow: hidden;
}

.photo {
  border-radius: 5rem;
  width: 100%;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
  font-size: 30rem;
  color: #333;
  padding: 0 10rem;
  border-bottom: 1px solid rgba(51, 51, 51, 0.3);
  padding-bottom: 10rem;


  .name {
    font-size: 30rem;
    font-weight: 700;
  }

  .location {
    font-size: 15rem;
    color: #333;
  }

  .distance {
    font-size: 15rem;
  }
}


.description {
  font-size: 18rem;
  color: #333;
  padding: 0 10rem;
  border-bottom: 1px solid rgba(51, 51, 51, 0.3);
  padding-bottom: 10rem;
}

.personInfoControls {
  display: flex;
  width: 100%;
}

.personInfoBtn {
  border: none;
  font-size: 18rem;
  padding: 20rem 10rem;
  flex: 0 1 100%;
  cursor: pointer;
  opacity: 0.8;

  &:hover {
    background: linear-gradient(45deg, #fd267a, #ff6036);
    transition: 0.5s;
    opacity: 1;
  }
}

.btnDelete {
  border-right: 0.1rem solid rgba(51, 51, 51, 0.4);
}
