.Ppllist {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-auto-rows: 170rem;
  gap: 15rem;
  margin-top: 30rem;
}

.PplItem {
  position: relative;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
}

.photo {
  border-radius: 5rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name {
  color: #fff;
  position: absolute;
  top: 75%;
  left: 7%;
  font-weight: 600;
  font-size: 19rem;
}

@media (max-width:1125px) {
  .Ppllist {
    grid-auto-rows: 150rem;
  }
}

@media (max-width:986px) {
  .Ppllist {
    gap: 10rem;
    margin-top: 10rem;
    grid-auto-rows: 120rem;
    justify-content: space-between;
    grid-template-columns: repeat(2, minmax(0, 0.8fr));
  }

  .name {
    font-size: 16rem;
  }
}

// @media (max-width:900px) {
//     .Ppllist {
//     grid-auto-rows: 90rem;
//   }
// }
