.chatDisplayContainer {
  flex: 0 1 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: stretch;
  min-height: 100%;
  position: relative;
  overflow-x: hidden;
  width: 100%;
}

.ChatInfo {
  display: flex;
}

.chatCompanionAvatar {
  width: 45rem;
  height: 100%;
  object-fit: cover;
  display: none;
  border-radius: 2rem;
}

.chatHeaderText {
  font-size: 18rem;
  padding: 30rem 15rem;
  background-color: #fff;
  width: 100%;
}

.UnmatchBtnWrapper {
  display: none;
}

.display {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  padding: 0 10rem;
  justify-self: start;
  overflow: auto;
  height: 80vh;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 0px;
  }
}

.chatFieldForm {
  width: 100%;
  position: relative;
}

.chatField {
  width: 100%;
  height: 55rem;
  padding-left: 3%;
  border: none;
  resize: none;
  padding: 15rem;

  &:focus,
  input:focus {
    outline: none;
  }
}

.sendBtnContainer {
  border: none;
  position: absolute;
  top: 50%;
  right: 3%;
}

.sendBtn {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 3%;
  cursor: pointer;
}

@media (width<=986px) {
  .chatHeaderText {
    font-size: 14rem;
    padding: 20rem 5rem;
    text-align: center;
  }

  .display {
    top: 75rem;
  }
}

@media (width<=768px) {
  .chatHeaderText {
    font-size: 14rem;
    padding: 17rem 2rem;
  }

  .display {
    gap: 5rem;
    padding: 0 5rem;
    top: 65rem;
  }

  .chatDisplayContainer {
    flex: 0 1 85%;
  }

  .chatFieldForm {
    width: 100%;
    position: relative;
  }

  .chatField {
    width: 100%;
    height: 40rem;
    padding: 10rem;
    font-size: 14rem;
  }

  .sendBtn {
    right: 5%;
    font-size: 12rem;
  }
}


@media (width<=650px) {
  .chatHeaderText {
    font-size: 12rem;
    padding: 13rem 2rem;
  }

  .display {
    top: 55rem;
  }

  .chatDisplayContainer {
    flex: 1 1 75%;
  }

  .chatCompanionAvatar {
    display: block;
  }

  .UnmatchBtnWrapper {
    display: flex;
  }
}
