.myBtn {
  color: #FFFFFF;
  font-size: 24rem;
  padding: 25rem 55rem;
  border-radius: 50rem;
  background: linear-gradient(87.08deg, #FA457E 6.8%, #7B49FF 102.07%);
  cursor: pointer;
  opacity: 0.8;

  &:hover {
    background: linear-gradient(-87.08deg, #FA457E 6.8%, #7B49FF 102.07%);
    transition: 0.5s;
    opacity: 1;
  }
}

.modal-btn {
  font-size: 18rem;
  padding: 10rem 20rem;
  border-radius: 30rem;
  width: 40%;
  margin: 0 auto;
}

.signup-btn {
  width: 400rem;
  font-size: 30rem;
  margin: 0 auto;
  display: block;
}

@media (max-width:768px) {
  .modal-btn {
    font-size: 12rem;
    padding: 3rem 5rem;
    min-width: 40rem;
  }

  .home-button {
    font-size: 22rem;
    padding: 21rem 45rem;
  }
}

@media (max-width:576px) {
  .modal-btn {
    font-size: 10rem;
    padding: 3rem 5rem;
    min-width: 40rem;
  }

  .home-button {
    font-size: 16rem;
    padding: 20rem 40rem;
  }

  .signup-btn {
    padding: 15rem 20rem;
    width: 180rem;
    font-size: 20rem;
  }
}
